
Analise_Regressao/Q13-Lista-1_files/libs/bootstrap/bootstrap-icons.css
Analise_Regressao/Q13-Lista-1_files/libs/bootstrap/bootstrap-icons.woff
Analise_Regressao/Q13-Lista-1_files/libs/bootstrap/bootstrap.min.css
Analise_Regressao/Q13-Lista-1_files/libs/bootstrap/bootstrap.min.js
Analise_Regressao/Q13-Lista-1_files/libs/clipboard/clipboard.min.js
Analise_Regressao/Q13-Lista-1_files/libs/quarto-html/anchor.min.js
Analise_Regressao/Q13-Lista-1_files/libs/quarto-html/popper.min.js
Analise_Regressao/Q13-Lista-1_files/libs/quarto-html/quarto-syntax-highlighting.css
Analise_Regressao/Q13-Lista-1_files/libs/quarto-html/quarto.js
Analise_Regressao/Q13-Lista-1_files/libs/quarto-html/tippy.css
Analise_Regressao/Q13-Lista-1_files/libs/quarto-html/tippy.umd.min.js
Analise_Regressao/Q13-Lista-1.html
Analise_Regressao/Q13-Lista-1_files/figure-html/unnamed-chunk-2-1.png
Geoestatistica/Relatorio - Areia Fina/relatorio.pdf
