
Analise_Regressao/Q13-Lista-1_files/libs/bootstrap/bootstrap-icons.css
Analise_Regressao/Q13-Lista-1_files/libs/bootstrap/bootstrap-icons.woff
Analise_Regressao/Q13-Lista-1_files/libs/bootstrap/bootstrap.min.css
Analise_Regressao/Q13-Lista-1_files/libs/bootstrap/bootstrap.min.js
Analise_Regressao/Q13-Lista-1_files/libs/clipboard/clipboard.min.js
Analise_Regressao/Q13-Lista-1_files/libs/quarto-html/anchor.min.js
Analise_Regressao/Q13-Lista-1_files/libs/quarto-html/popper.min.js
Analise_Regressao/Q13-Lista-1_files/libs/quarto-html/quarto-syntax-highlighting.css
Analise_Regressao/Q13-Lista-1_files/libs/quarto-html/quarto.js
Analise_Regressao/Q13-Lista-1_files/libs/quarto-html/tippy.css
Analise_Regressao/Q13-Lista-1_files/libs/quarto-html/tippy.umd.min.js
Analise_Regressao/Q13-Lista-1.html
Analise_Regressao/Q13-Lista-1_files/figure-html/unnamed-chunk-2-1.png
Geoestatistica/Relatorio - Areia Fina/relatorio.pdf
CEP/raizes.pdf
CEP/previsao.pdf
CEP/plot_serie.pdf
CEP/plot_residuo.pdf
CEP/plot_pacf.pdf
CEP/plot_acf.pdf
CEP/pacf_residuo.pdf
CEP/hist_residuo.pdf
CEP/controle_residuo_recalculado.pdf
CEP/controle_residuo.pdf
CEP/cep_tradicional.pdf
CEP/acf_residuo.pdf
CEP/data_X.csv
